.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.user-list-wrap {
  height: 64px;
  margin-top: 50px;
  overflow: visible;
}

.user {
  width: 56px;
  height: 56px;
  margin-right: -16px;
  border: 4px solid #ffffff;
  border-radius: 50%;
}

.user-last {
  opacity: 0;
}

.fade-in {
  transform: translateX(-48px);
  opacity: 1;
}

.fade-out {
  transform: translateX(-48px);
  opacity: 0;
}

.animate {
  transition: transform 1s ease, opacity 1s ease;
  animation-fill-mode: forwards;
}

.trans {
  transform: translateX(-48px);
}
